@model SupportSasha.Donations.Models.DonationInput
@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}
<h2>Create donation</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(x => x.Name)
    
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
    
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount)
    
    @Html.LabelFor(x => x.Message)
    @Html.TextAreaFor(x => x.Message)

    @Html.LabelFor(x => x.Campaign)
    @Html.TextBoxFor(x => x.Campaign)

    <label class="checkbox">
        @Html.CheckBoxFor(x => x.DontShowName) Show anonymous instead of real name on homepage    
    </label>
    
   <button type="submit" class="btn">Submit</button>
}