@model SupportSasha.Donations.Models.Target
@{
    ViewBag.Title = "Create";
}
@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}
<h2>
    Edit</h2>
@using (var form = Html.BeginForm())
{
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description, new { rows = "20", columns = "10" })
    
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount)
    
    @Html.LabelFor(x => x.MoreInfoLink)
    @Html.TextBoxFor(x => x.MoreInfoLink)
    <div class="form-actions">
        <button class="btn btn-primary">
            Save</button> or 
            @Html.ActionLink("cancel", "Index", null, new { @class = "btn btn-mini" })
    </div>
}
