@model IEnumerable<SupportSasha.Donations.Models.Target>

@{
    ViewBag.Title = "Index";
}

@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}


<h2>Donation Targets</h2>

@foreach (var target in Model)
{
    <div class="well">
    <h2>@Html.ActionLink(target.Name, "Edit", new { Id = target.ShortId })</h2>
    <span>@target.Amount</span>
   <p>@Html.FormatDescription(target.Description)</p>
            <br />
        <br />
    @using (Html.BeginForm("Delete", "Targets"))
    {
         @Html.Hidden("Id", target.Id);
         <button onclick="return confirm('Are you sure');" class="btn btn-danger">Delete</button>                                      
    }
    </div>
    
   
}

@Html.ActionLink("Add target", "Create")

