@model SupportSasha.Donations.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="donationTarget">
<h2>Fundraising target: &pound;@Model.TargetsTotal</h2>

<div class="progressWrapper">
        <div class="meter">
			<span style="width: @Model.ProgressPercentage%"></span>
		</div>
    @Html.ActionLink("more information", "Targets", null, new { @class = "targetBreakdown" })
    
</div>

</section>

<br />

<div class="donationsWrapper">
<h3>Donations</h3>
<ul class="donationList">
@foreach (var donation in Model.Donations)
{
    <li>
        @GetDonationImage(@donation.Image)
        <div class="donationMessage">
        @Html.WrapWith(donation.Message, "p")
        <span class="small">Donated by <strong>@donation.Name</strong> on @Html.FormatDate(donation.Date)</span>
        </div>
        <div class="donationAmount"><span class="large">&pound;@donation.Amount</span></div>
    </li>
}
</ul>
</div>

@functions {
 dynamic GetDonationImage(string image)
 {
     string src = image;
     if (string.IsNullOrWhiteSpace(image))
        src = "/Content/images/happy-face.png";
    return new MvcHtmlString(String.Format("<img src=\"{0}\" class=\"donationImage\" />", src));
 }
}
