@model SupportSasha.Donations.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-unit home-hero">
    <h1>
        Welcome</h1>
    <img src="@Url.Image("SashaOnSwing.jpg")" />
    <p>
        I'm Sasha and I have cerebral palsy. Thank you for visiting my donations website.
        Currently I am fundraising for Dolphin and Stem cell therapy. I also have a blog
        where you can find out more about me as well as helpful resouces</p>
    <p>
        @Html.ActionLink("Donate", "Index", "Donations", null, new { @class = "btn btn-primary btn-large" })
        &nbsp;&nbsp; or&nbsp;&nbsp; @Html.ActionLink("Learn more", "Targets", "Donations", null, new { @class = "btn" })</p>
</div>
<section id="donationTarget">
<div class="progressWrapper">
    <h2>Fundraising: &pound;@Model.DonationsTotal / &pound;@Model.TargetsTotal</h2>
    <div class="progress progress-striped">
  <div class="bar"
       style="width:  @Model.ProgressPercentage%;"></div>
</div>
    @Html.ActionLink("more information", "Targets", "Donations", null, new { @class = "targetBreakdown" })
</div>

</section>
<br />
<div class="donationsWrapper">
    <h3>
        Donations</h3>
    <ul class="donationList">
        @Html.DisplayFor(x => x.Donations)
    </ul>
</div>
