@model SupportSasha.Donations.Models.DonationAttempt

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Donate</h2>


<div class="donationOption">
@using (var form = Html.BeginForm()) {
    <div>@Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    </div>
    <div>
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
       </div>
    <div>
    @Html.LabelFor(x => x.Amount)
    @Html.RadioButtonFor(x => x.Amount, "20") £20 
    @Html.RadioButtonFor(x => x.Amount, "10") £10
    @Html.RadioButtonFor(x => x.Amount, "5") £5
    <br />
    <label>Other amount</label>
    @Html.TextBoxFor(x => x.Amount)
    </div>
    <div>
    @Html.LabelFor(x => x.Message)
    @Html.TextAreaFor(x => x.Message)
    </div>
    @Html.HiddenFor(x => x.CampaignName, new { value = ViewBag.Campaign })

    <button class="donate">Donate by Paypal</button>
}

</div>
