@model SupportSasha.Donations.Models.DonationInput
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Donate</h2>
<div class="donationOption">
    @using (var form = Html.BeginForm())
    {
        <div class="field">@Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "input" })
        </div>
        <div class="field">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { @class = "input" })
        </div>
        <div class="field">
            @Html.LabelFor(x => x.Amount)
            @Html.RadioButtonFor(x => x.Amount, "20") <span class="radioText">£20</span>
            @Html.RadioButtonFor(x => x.Amount, "10") <span class="radioText">£10</span>
            @Html.RadioButtonFor(x => x.Amount, "5") <span class="radioText">£5</span>
            <br />
        </div>
        <div class="field">
            <label>
                Other amount</label>
            @Html.TextBoxFor(x => x.Amount, new { @class = "input" })</div>
        <div class="field">
            @Html.LabelFor(x => x.Message)
            @Html.TextAreaFor(x => x.Message, new { @class = "input" })
        </div>
        @Html.HiddenFor(x => x.CampaignName, new { value = ViewBag.Campaign })

        <button class="donate">
            Donate by Paypal</button>
    }
</div>
